{%extends 'main/layout.html'%}
{%load static%}
{%block content%}


    <!-- section -->
    <section class="main">
      <div class="wrapper">
        <div class="left-col">
          <!---STATUS-->
          
          <div class="status-wrapper">
            {%for friend in friends%}
            {%if friend.following == request.user%}
            <div class="status-card">
              <a href="{%url 'profile' friend.following.id %}">

            
              <div class="profile-pic">
                {%if request.user.image%}
                <img src="{{request.user.image.url}}" alt="" />
                {%else%}
                <img src="{% static  'images/empty_user.jpg' %}" alt="" />
                {%endif%}
              </div>
            </a>
              <p class="username">You</p>
            </div>

            {%else%}
            <div class="status-card">
              <a href="{%url 'profile' friend.following.id %}">
              <div class="profile-pic">
                {%if friend.following.image%}
                <img src="{{friend.following.image.url}}" alt="" />
                {%else%}
                <img src="{%static 'images/empty_user.jpg'%}" alt="" />
                {%endif%}
              </a>

              </div>
              <p class="username">{{friend.following}}</p>
            </div>
            {%endif%}
            {%endfor%}
            
          </div>

          <!--POST-->
         {%for stream in streams%}
          <div class="post">
          
            <div class="info">
              <div class="user">
                <div class="profile-pic">
                {%if friend.following.image%}
                <img src="{{friend.following.image.url}}" alt="" />
                {%else%}
                <img src="{%static 'images/empty_user.jpg'%}" alt="" />
                {%endif%}
                </div>
                <a href="{%url 'profile' stream.following.id %}">
                <p class="username">{{stream.following}}</p>
                  </a>
              </div>
              <i class="fas fa-ellipsis-h options"></i>
            </div>
            <img src="{{stream.post.image.url}}" class="post-image" />
            <div class="post-content">
              <div class="reaction-wrapper">
                <i class="icon fas fa-heart " {%if request.user in stream.post.likers.all%} style="color: red;"{%endif%} id="like-button" data-id="{{stream.post.id}}" ></i>
                <i class="icon fas fa-comment"></i>
              </div>
              <p class="likes">{{stream.post.likes}} likes</p>
              <p class="description">
                <span>{{stream.following}}</span> {{stream.post.description}}
              </p>
              <p class="post-time">{{stream.post.posted}}</p>
            </div>

            <div class="comment-wrapper">
                {%if request.user.image%}
                <img src="{{request.user.image.url}}" alt="" class="icon" />
                {%else%}
                <img src="{%static 'images/empty_user.jpg''%}" alt="" class="icon" />
                {%endif%}
              
              <input
                type="text"
                class="comment-box"
                placeholder="Add a comment"
              />
              <button class="comment-btn">post</button>
            </div>
          </div>
          {%endfor%}  
        </div>
       

        <div class="right-col">
          <!--Profile-Card-->
          
          <div class="profile-card">
            <div class="profile-pic">
              {%if request.user.image%}
              <img src="{{request.user.image.url}}" alt="" />
              {%else%}
              <img src="{%static 'images/empty_user.jpg''%}" alt="" />
              {%endif%}
            </div>
            <div>
              <a href="{%url 'profile' request.user.id %}">
              <p class="username">{{request.user}}</p>
            
              <p class="sub-text">{{request.user.email}}</p>
            </div>

            </a>
            
             <a href="{%url 'logout' %}" class="logout-btn">
              <button  class="logout-btn">
                logout
              </button>
             
            </a>
          </div>

          <!--Suggestion-Card-->

          <p class="suggestion-text">Suggestions For you</p>
          {%for suggestion in suggestions%}
          <div class="suggestion-card">
            <div class="suggestion-pic">
              {%if suggestion.image%}
              <img src="{{suggestion.image.url}}" alt="" />
              {%else%}
              <img src="{%static 'images/empty_user.jpg'%}" alt="" />
              {%endif%}
            </div>
            <div>
              <a href="{%url 'profile' suggestion.id %}">
              <p class="username">{{suggestion.username}}</p>
              
            </a>
            </div>
            <button class="follow-btn" data-id="{{suggestion.id}}" style="color:#0d6efd!important;" data-action="follow">follow</button>
          </div>
          {%endfor%}
        </div>
      </div>
    </section>

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script>
      //changing like button accordingly to red or none
      const likeButtons = document.querySelectorAll("#like-button");
   
      likeButtons.forEach((button) => {
      button.addEventListener("click", () => {
        if (button.style.color != 'red'){
          button.style.color = 'red'
          
        }
        else{
          button.style.color = ''
        };

        });
      });
      //getting follow button 
      var follows = document.getElementsByClassName('follow-btn')

      for(i = 0; i < follows.length; i++) {
        console.log(follows[i].innerHTML)
       
	      follows[i].addEventListener('click', function(){
        follow_id=this.dataset.id
        action = this.dataset.action
        if(this.innerHTML=="follow"){
          this.innerHTML="unfollow"
          this.style.color = "black"
          this.dataset.action = "unfollow"

        }else{
          this.innerHTML="follow"
          this.style.color = "#0d6efd"
          this.dataset.action = "follow"
        }
        
        
        console.log(follow_id)
        user='{{request.user.id}}'
        followupdate(follow_id,user,action);
        

      })
      }

      function followupdate(id,user,action){
	    
      console.log(user + " started following  " +  follow_id)
		  var url = 'api/follow/create/'

		fetch(url, {
			method:'POST',
			headers:{
				'Content-Type':'application/json',
				'X-CSRFToken':csrftoken,
			},
			body:JSON.stringify({'id':follow_id,'user':user,'action':action})
		})
		.then((response) => {
                if (!response.ok) {
                    // error processing
                    throw 'Error';
                }
                return response.json()
            })
		.then((data) => {
		    
		});
}



        //getting liked or disliked info from post
        var likes = document.getElementsByClassName('icon fas fa-heart')

        for(i = 0; i < likes.length; i++) {
	      likes[i].addEventListener('click', function(){
        id=this.dataset.id
        color=this.style.color
        user='{{request.user.id}}'
        likeupdate(id, color,user);

      })
      }


      //fetching api call

      function likeupdate(id, color,user){
	    console.log('User is authenticated, sending data...')
      console.log("post id is  " + id + " color is "+  color  + " user is "+ user)
		  var url = 'api/post/update/'

		fetch(url, {
			method:'POST',
			headers:{
				'Content-Type':'application/json',
				'X-CSRFToken':csrftoken,
			},
			body:JSON.stringify({'id':id, 'color':color,'user':user})
		})
		.then((response) => {
                if (!response.ok) {
                    // error processing
                    throw 'Error';
                }
                return response.json()
            })
		.then((data) => {
		    
		});
}


    </script>
    {%endblock%}