<!DOCTYPE html>
<html lang="en">
  {%load static%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram-Clone</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href= "{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  </head>
  <body>
    <!-- navigation -->
    <nav class="navbar">
      <div class="nav-wrapper">
          <a href="{%url 'main' %}">
            <img class="brand-img" src="{% static 'images/logo.png' %}" />
          </a>
        

        <form class="search-form">
          <input type="text" class="search-box" placeholder="search.." />
        </form>
        <div class="nav-items">
          <a href="{%url 'main' %}"><i class="icon fas fa-home nav_link active"></i></a>
          <a href="{%url 'new_post'  request.user.id  %}"><i class="icon fas fa-plus nav_link "></i></a>
          <i class="icon fas fa-heart nav_link " ></i>
          <div class="icon user-profile">
            <a href="{%url 'profile'  request.user.id  %}"> <i class="fas fa-user nav_link "></i></a>
          </div>
        </div>
      </div>
    </nav>

  {%block content%}

  {%endblock%}

  <script type="text/javascript">
    var user = '{{request.user}}'
    function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
</script>

</body>
</html>